.product img {
    width: 286px;
    height: 286px;
    margin: 7px;
}

.product{
    width: 300px;
    height: 550px ;
    border: 1px solid #ccc;
    margin: 10px;
    position: relative;
}

.product_info{
    padding: 10px;
}

.product button{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FF9900;
    border: none;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}


.product button:hover{
    background-color: #000000;
}